
proxy_cache_path {{ cache_path }}/{{ app_root }}
	levels=1:2 keys_zone=app:1M max_size={{ max_cache_size_megabytes }}M;

upstream app {
	server nginx-1;
}

server {
	listen 80;
	server_name reverse-proxy;

	location / {
		try_files $uri @app;
	}

	proxy_cache_valid 60m;
	proxy_cache_valid any 10s;
	proxy_cache_min_uses 3;

	proxy_no_cache $cookie_sessionid;

	proxy_cache_lock on;
	proxy_cache_background_update on;
	proxy_cache_use_stale error timeout updating
		http_500 http_502 http_503 http_504;

	location @app {
		proxy_cache app;
		proxy_pass http://app;
	}
}
